name: androidBuild

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  buildAndroid:
    name: buildAndroid
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@main

      - name: Setup Android NDK
        uses: nttld/setup-ndk@main
        id: setup-ndk
        with:
          ndk-version: r21e

      - name: Setup Java JDK
        uses: actions/setup-java@main
        with:
          distribution: 'zulu'
          java-version: '11'

      - name: Setup Haxe
        uses: krdlab/setup-haxe@master
        with:
          haxe-version: 4.2.5

      - name: Install Haxelib
        run: |
          haxelib setup /home/runner/haxelib

          # 1. 검증된 서버 설치
          haxelib install lime 7.9.0 --always
          haxelib install SScript 3.0.0 --always
          haxelib install openfl 9.1.0 --always
          haxelib install flixel 5.2.2 --always
          haxelib install flixel-tools 1.5.1 --always
          haxelib install flixel-ui 2.5.0 --always
          haxelib install flixel-addons 3.0.2 --always
          haxelib install hxcpp --always > /dev/null
          haxelib install hxcpp-debug-server --always
          haxelib install tjson 1.4.0 --always
          haxelib install hxCodec 2.6.0 --always
          haxelib install hscript 2.5.0 --always

          # 2. Git 라이브러리 (정확한 주소로 수정)
          # FlxAnimate: dotware64 대신 ShadowMario(PsychEngine) 공식 아카이브 사용
          git clone --depth 1 https://github.com /home/runner/haxelib/flxanimate
          haxelib dev flxanimate /home/runner/haxelib/flxanimate

          # extension-androidtools: MAJigsaw77의 최신 주소 사용
          git clone --depth 1 https://github.com /home/runner/haxelib/ext_at
          haxelib dev extension-androidtools /home/runner/haxelib/ext_at

          # hxdiscord_rpc
          git clone --depth 1 https://github.com /home/runner/haxelib/hxdiscord_rpc
          haxelib dev hxdiscord_rpc /home/runner/haxelib/hxdiscord_rpc

          # linc_luajit
          git clone --depth 1 https://github.com /home/runner/haxelib/linc_luajit
          haxelib dev linc_luajit /home/runner/haxelib/linc_luajit

          # 나머지 유틸리티
          git clone --depth 1 https://github.com /home/runner/haxelib/ext_or
          haxelib dev extension-orientation /home/runner/haxelib/ext_or

          git clone --depth 1 https://github.com /home/runner/haxelib/androiddialogs
          haxelib dev androiddialogs /home/runner/haxelib/androiddialogs

          git clone --depth 1 https://github.com /home/runner/haxelib/devicelanguage
          haxelib dev devicelanguage /home/runner/haxelib/devicelanguage

          haxelib list

      - name: Create Version Tag
        run: echo "${{github.run_id}}" > VERSION

      - name: Configure Android
        run: |
          haxelib run lime setup -alias -y
          haxelib run lime setup android
          haxelib run lime config ANDROID_SDK $ANDROID_HOME
          haxelib run lime config ANDROID_NDK_ROOT $ANDROID_NDK_HOME
          haxelib run lime config JAVA_HOME $JAVA_HOME
          haxelib run lime config ANDROID_SETUP true
          haxelib list
        env:
          ANDROID_NDK_HOME: ${{ steps.setup-ndk.outputs.ndk-path }}

      - name: Building
        run: haxelib run lime build android -${{ matrix.arch }}
        env:
          cert_pass: nullfunni
          cert_alias_pass: nullfunni
      
      - name: Cleanup
        run: |
          gh extension install actions/gh-actions-cache
          
          echo "Fetching list of cache key"
          cacheKeysForPR=$(gh actions-cache list -R $REPO -B $BRANCH -L 100 | cut -f 1 )

          ## Setting this to not fail the workflow while deleting cache keys. 
          set +e
          echo "Deleting caches..."
          for cacheKey in $cacheKeysForPR
          do
              gh actions-cache delete $cacheKey -R $REPO -B $BRANCH --confirm
          done
          echo "Done"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPO: ${{ github.repository }}
          BRANCH: refs/pull/${{ github.event.pull_request.number }}/merge

      - name: Save Current Cache
        id: cache-release-build-android-save
        uses: actions/cache/save@main
        with:
          path: |
            ~/haxelib
            ~/.gradle
            export/release/android/haxe
            export/release/android/obj
          key: cache-android-build

      - name: Upload Artifact
        uses: actions/upload-artifact@main
        with:
          name: androidBuild
          path: export/release/android/bin/app/build/outputs/apk/debug
        
